<div class="row justify-content-center">
    <div class="col-lg-2">
        <a href="{% url 'dashboard-operators' %}" class="btn btn-info w-100 mb-2">Admins</a>
    </div>
    <div class="col-lg-2">
        <a href="{% url 'dashboard-staffs' %}" class="btn btn-info w-100 mb-2">Operadores</a>
    </div>
    <div class="col-lg-2">
        <a href="{% url 'dashboard-equipments' %}" class="btn btn-info w-100 mb-2">Equipamentos</a>
    </div>
    <div class="col-lg-2">
        <a href="{% url 'dashboard-orders' %}" class="btn btn-info w-100 mb-2">Ordens</a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-2">
        <a href="{% url 'dashboard-categories' %}" class="btn btn-info w-100 mb-2">Categorias</a>
    </div>
    <div class="col-lg-2">
        <a href="{% url 'dashboard-loans' %}" class="btn btn-info w-100 mb-2">Empréstimos</a>
    </div>
    <div class="col-lg-2">
        <a href="" class="btn btn-info w-100 mb-2">Entradas</a>
    </div>
    <div class="col-lg-2">
        <a href="" class="btn btn-info w-100 mb-2">Saídas</a>
    </div>
</div>
