<div class="container text-center">
    <a href="{% url 'admins' %}">
        <button type="button" class="btn btn-primary btn-lg">Admins</button>
    </a>
    <a href="{% url 'operadores' %}">
        <button type="button" class="btn btn-primary btn-lg">Operadores</button>
    </a>
    <a href="{% url 'equipamentos' %}">
        <button type="button" class="btn btn-primary btn-lg">Equipamentos</button>
    </a>
    <a href="{% url 'ordens' %}">
        <button type="button" class="btn btn-primary btn-lg">Ordens</button>
    </a>
    <a href="{% url 'categorias' %}">
        <button type="button" class="btn btn-primary btn-lg">Categorias</button>
    </a>
    <a href="{% url 'emprestimos' %}">
        <button type="button" class="btn btn-primary btn-lg">Emprestimos</button>
    </a>
</div>