<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'dashboard-index' %}">
            <i class="bi bi-box-seam"></i>
        </a>
        INVENTORY CONTROL
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard-index' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'user-logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link active" aria-current="page" style="border: none; background-color: transparent; cursor: pointer;">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
