<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard-index' %}">TI USAFLEX</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dashboard</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Visualizar
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'dashboard-operators' %}" class="nav-link active nav-padding">Operadores</a>
              </li>
              <li>
                <a href="{% url 'dashboard-staffs' %}" class="nav-link active nav-padding">Funcionários</a>
              </li>
              <li>
                <a href="{% url 'dashboard-equipments' %}" class="nav-link active nav-padding">Equipamentos</a>
              </li>
              <li>
                <a href="{% url 'dashboard-orders' %}" class="nav-link active nav-padding">Ordens</a>
              </li>
              <li>
                <a href="{% url 'dashboard-items' %}" class="nav-link active nav-padding">Itens</a>
              </li>
              <li>
                <a href="{% url 'dashboard-loans' %}" class="nav-link active nav-padding">Empréstimos</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configurações
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link active nav-padding" aria-current="page" href="{% url 'user-profile' %}">Perfil</a>
              </li>
              <li>
                <form action="{% url 'user-logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="nav-link active" aria-current="page"
                    style="border: none; background-color: transparent; cursor: pointer; padding-left: 10px;">Logout</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>