{% extends 'partials/base.html' %}
{% block title %} Empréstimo {% endblock %}
{% load static %}
{% block content %}
<div class="row mt-4">
    <div class="col-lg-4">
        <h2>Empréstimo</h2>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4 d-flex justify-content-end align-items-center">
        <a href="{% url 'dashboard-create-loan' %}" class="btn btn-success float-right">
            <i class="bi bi-plus-lg text-white"></i>
            Adicionar
        </a>
    </div>
</div>

<!-- Formulário de Pesquisa -->
<div class="row mt-4">
    <div class="col-lg-12">
        <form method="get" action="{% url 'dashboard-loans' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="q" value="{{ query }}"
                    placeholder="Pesquisar por solicitante">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
        </form>
    </div>
</div>

<!-- Informações dos Empréstimo -->
<div class="row mt-4">
    <div class="col-lg-12">
        <!-- Tabela Responsiva -->
        <div class="table-responsive">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th class="col text-center">Quantidade</th>
                        <th class="col text-center">Equipamento</th>
                        <th class="col text-center">Solicitante</th>
                        <th class="col text-center">Retirada</th>
                        <th class="col text-center">Devolução</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in loan_list %}
                    <tr>
                        <td class="col text-center">{{ loan.quantity }}</td>
                        <td class="col text-center">{{ loan.item }}</td>
                        <td class="col text-center">{{ loan.staff }}</td>
                        <td class="col text-center">{{ loan.formatted_retreat_date }}</td>
                        <td class="col text-center">{{ loan.formatted_devolution_date}}</td>
                        <td class="col d-flex justify-content-center">
                            <a class="btn button-warning mr-2" href="{% url 'dashboard-update-loan' loan.id %}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn button-danger ml-2"
                                href="{% url 'dashboard-delete-loan' loan.id %}">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_styles %}
<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: url('{% static "images/backgrounds/bg02.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .table-responsive {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0.9;
    }
</style>
{% endblock %}