{% extends 'partials/base.html' %}
{% block title %} Empréstimos {% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-lg-4">
            <h2>Empréstimos</h2>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end">
            <a href="{% url 'dashboard-create-loan' %}" class="btn btn-info float-right">Adicionar</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th class="col text-center">Quantidade</th>
                        <th class="col text-center">Equipamento</th>
                        <th class="col text-center">Solicitante</th>
                        <th class="col text-center">Retirada</th>
                        <th class="col text-center">Devolução</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in loan %}
                        <tr>
                            <td class="col text-center">{{ loan.quantity }}</td>
                            <td class="col text-center">{{ loan.equipment }}</td>
                            <td class="col text-center">{{ loan.staff }}</td>
                            <td class="col text-center">{{ loan.formatted_retreat_date }}</td>
                            <td class="col text-center">{{ loan.formatted_devolution_date}}</td>
                            <td class="col text-center">
                                <a class="btn btn-sm mr-2" href="{% url 'dashboard-update-loan' loan.id %}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td class="col text-center">
                                <a class="btn btn-sm ml-2" href="{% url 'dashboard-delete-loan' loan.id %}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}