*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #EAEAEA; */
    background-color: #fff;
}

a.nav-link{
    color: #fff;
}

a.nav-link:hover{
    color: black;
    text-transform: none;
    text-decoration: none;
}

a.nav-padding{
    padding-left: 10px;
}

.offcanvas-body{
    background-image: url('/static/images/backgrounds/ice-montain.jpg');
    background-repeat: no-repeat;
    background-size: 280%;
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}

img.img-thumbnail{
    border-radius: 999%;
}

.bi{
    color: black;
}

.button-warning:hover{
    background-color: #007bff !important;
}

.button-warning i{
    color: #007bff !important;
}

.button-warning:hover i{
    color: #fff !important;
}

.button-danger:hover{
    background-color: #ff1900;
}

.button-danger:hover i{
    color: #fff !important;
}

.button-dark:hover{
    background-color: #909090 !important;
}

.button-dark:hover i{
    color: #fff !important;
}

.custom-dropdown {
    z-index: 1050;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}