*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEA;
}

nav{
    background-color: #43A5FF;
    color: white;
}

a.nav-link{
    color: #fff;
}

a.nav-link:hover{
    color: black;
    text-transform: none;
    text-decoration: none;
}

a.nav-padding{
    padding-left: 10px;
}

.offcanvas-body{
    background-image: url('/static/images/backgrounds/ice-montain.jpg');
    background-repeat: no-repeat;
    background-size: 280%;
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}

img.img-thumbnail{
    border-radius: 999%;
}
