{% extends 'partials/base.html' %}
{% block title %} Equipamentos {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <h2>Equipamentos</h2>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end">
            <a href="{% url 'dashboard-create-equipment' %}" class="btn btn-info float-right">Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th class="col text-center">Nome</th>
                        <th class="col text-center">Modelo</th>
                        <th class="col text-center">Maq</th>
                        <th class="col text-center">Patrimônio</th>
                        <th class="col text-center">S/N - P/N</th>
                        <th class="col text-center">Centro de Custo</th>
                        <th class="col text-center">Express Code</th>
                        <th class="col text-center">Imobilizado</th>
                        <th class="col text-center">NF</th>
                        <th class="col text-center">Data NF</th>
                        <th class="col text-center">Setor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipment in equipment %}
                        <tr>
                            <td class="col text-center">{{ equipment.item }}</td>
                            <td class="col text-center">{{ equipment.model|default_if_none:"" }}</td>
                            <td class="col text-center">{{ equipment.maq }}</td>
                            <td class="col text-center">{{ equipment.patrimony }}</td>
                            <td class="col text-center">{{ equipment.sn_pn }}</td>
                            <td class="col text-center">{{ equipment.cost_center }}</td>
                            <td class="col text-center">{{ equipment.express_code }}</td>
                            <td class="col text-center">{{ equipment.immobilized }}</td>
                            <td class="col text-center">{{ equipment.nf }}</td>
                            <td class="col text-center">{{ equipment.nf_date|date:"d/m/Y" }}</td>
                            <td class="col text-center">{{ equipment.sector }}</td>
                            <td class="col text-center">
                                <a class="btn btn-sm mr-2" href="{% url 'dashboard-update-equipment' equipment.id %}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-sm ml-2" href="{% url 'dashboard-delete-equipment' equipment.id %}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
