{% extends 'partials/base.html' %}
{% block title %} Funcionários {% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-lg-4">
            <h2>Funcionários</h2>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end">
            <a href="{% url 'dashboard-create-staff' %}" class="btn btn-info float-right">Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th class="col text-center">Nome</th>
                        <th class="col text-center">Email</th>
                        <th class="col text-center">Crachá</th>
                        <th class="col text-center">Setor</th>
                        <th class="col text-center">Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in staff %}
                        <tr>
                            <td class="col text-center">{{ staff.username }}</td>
                            <td class="col text-center">{{ staff.email }}</td>
                            <td class="col text-center">{{ staff.badge }}</td>
                            <td class="col text-center">{{ staff.sector }}</td>
                            <td class="col text-center">{{ staff.ranking }}</td>
                            <td class="col text-center">
                                <a class="btn btn-sm mr-2" href="{% url 'dashboard-update-staff' staff.id %}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td class="col text-center">
                                <a class="btn btn-sm ml-2" href="{% url 'dashboard-delete-staff' staff.id %}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}