{% extends 'partials/base.html' %}
{% block title %} Funcionários {% endblock %}
{% load static %}
{% block extra_styles %}
<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: url('{% static "images/backgrounds/bg02.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-lg-4">
            <h2>Funcionários</h2>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end align-items-center">
            <a href="{% url 'dashboard-create-staff' %}" class="btn btn-success float-right">
                <i class="bi bi-plus-lg text-white"></i>
                Adicionar
            </a>
        </div>
    </div>

    <!-- Formulário de Pesquisa -->
    <div class="row mt-4">
        <div class="col-lg-12">
            <form method="get" action="{% url 'dashboard-staffs' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Pesquisar por nome...">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Informações dos Funcionários -->
    <div class="row mt-4">
        <div class="col-lg-12">
            <!-- Tabela Responsiva -->
            <div class="table-responsive">
                <table class="table bg-white">
                    <thead class="bg-info text-white">
                        <tr>
                            <th class="col text-center">Nome</th>
                            <th class="col text-center">Email</th>
                            <th class="col text-center">Crachá</th>
                            <th class="col text-center">Setor</th>
                            <th class="col text-center">Cargo</th>
                            <th class="col text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staff_list %}
                            <tr>
                                <td class="col text-center">{{ staff.username }}</td>
                                <td class="col text-center">{{ staff.email }}</td>
                                <td class="col text-center">{{ staff.badge }}</td>
                                <td class="col text-center">{{ staff.sector }}</td>
                                <td class="col text-center">{{ staff.ranking }}</td>
                                <td class="col d-flex justify-content-center">
                                    <a class="btn button-warning mr-2" href="{% url 'dashboard-update-staff' staff.id %}">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="btn button-danger ml-2" href="{% url 'dashboard-delete-staff' staff.id %}">
                                        <i class="bi bi-trash text-danger"></i>
                                    </a>
                                    <a class="btn button-dark ml-2" href="{% url 'dashboard-staff-detail' staff.id %}">
                                        <i class="bi bi-list"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
