{% extends 'partials/base.html' %}
{% block title %} Ordens {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <h2>Ordens</h2>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end">
            <a href="{% url 'dashboard-create-order' %}" class="btn btn-info float-right">Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                    <tr>
                        <th class="col text-center">Chamado</th>
                        <th class="col text-center">Equipamento</th>
                        <th class="col text-center">Informação</th>
                        <th class="col text-center">Solicitante</th>
                        <th class="col text-center">Data e Hora</th>
                        <th class="col text-center">Operador</th>
                        <th class="col text-center">Movimentação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order %}
                        <tr>
                            <td class="col text-center">#{{ order.num_called }}</td>
                            <td class="col text-center">{{ order.equipment }}</td>
                            <td class="col text-center">{{ order.information }}</td>
                            <td class="col text-center">{{ order.staff }}</td>
                            <td class="col text-center">{{ order.formatted_date }}</td>
                            <td class="col text-center">{{ order.operator }}</td>
                            <td class="col text-center">{{ order.movimentation }}</td>
                            <td class="col text-center">
                                <a class="btn btn-sm mr-2" href="">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td class="col text-center">
                                <a class="btn btn-sm ml-2" href="">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}