{% extends 'partials/base.html' %}
{% block title %}Editar Ordem{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            
            <button href="{% url 'dashboard-orders' %}" class="btn btn-danger">Cancelar</button>
            <input class="btn btn-info" type="submit" value="Salvar">
        </form>
    </div>
</div>
{% endblock %}
