{% extends 'partials/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
{% include 'partials/links.html' %}
<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-4 my-4 d-flex justify-content-center align-items-center">
        <div class="card-body">
            <canvas id="myChart1" width="200" height="200"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                fetch('{% url "chart-data" %}')
                    .then(response => response.json())
                    .then(data => {
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: data.pie_chart_data.labels,
                                datasets: [{
                                    label: 'Number of Products',
                                    data: data.pie_chart_data.data,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true
                            }
                        });
                    });
            </script>
        </div>
    </div>
    <div class="col-md-4 my-4 d-flex justify-content-center align-items-center">
        <div class="bg-white">
            <div class="card-body">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    fetch('{% url "chart-data" %}')
                        .then(response => response.json())
                        .then(data => {
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: data.bar_chart_data.labels,
                                    datasets: [{
                                        label: 'Orders',
                                        data: data.bar_chart_data.data,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                        });
                </script>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
{% include 'main/dashboard/staff_index.html' %}
{% endif %}
{% endblock %}