{% extends 'partials/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}

<div class="row p-3">
    <div class="col-lg-8 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                        <h5 class="card-title fw-semibold">Ordens Overview</h5>
                    </div>
                </div>
                <div id="chart"></div>
                <div id="branch-info"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card overflow-hidden">
                    <div class="card-body p-4">
                        <h5 class="card-title mb-9 fw-semibold">Funcionários</h5>
                        <div class="row">
                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="bi bi-person-arms-up"></i>
                                    </div>
                                    <div class="col-md-2">
                                        <h5 class="fw-semibold mb-3 text-center" id="staff-num">{{total_staffs}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <span
                                        class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-account-multiple text-success"></i>
                                    </span>
                                    <span class="fw-semibold text-muted text-center">Total de Staffs</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-center align-items-center">
                                <div id="staff"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-start">
                            <div class="col-8">
                                <h5 class="card-title mb-9 fw-semibold"> Empréstimos </h5>
                                <h4 id="total-loans" class="fw-semibold mb-3">0</h4>
                                <div class="d-flex align-items-center pb-1">
                                    <span
                                        class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-arrow-down-right text-danger"></i>
                                    </span>
                                    <p id="growth-percentage" class="text-dark me-1 fs-3 mb-0">0%</p>
                                    <p class="fs-3 mb-0"></p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex justify-content-end">
                                    <div
                                        class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-currency-dollar fs-6"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="loan-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <div class="mb-4 d-flex justify-content-between">
                    <h5 class="card-title fw-semibold">Movimentações recentes</h5>
                    <a href="{%url 'dashboard-orders'%}">Ver mais</a>
                </div>
                <ul class="timeline-widget mb-0 position-relative mb-n5">
                    {% for order in orders %}
                    {% if order.movimentation == "E" %}
                    <li class="timeline-item d-flex justify-content-center align-items-center overflow-hidden">
                        <div class="timeline-time text-dark flex-shrink-0 text-end">{{ order.date_formatted }}
                        </div>
                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                            <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
                            <span class="timeline-badge-border d-block flex-shrink-0"></span>
                        </div>
                        <div class="timeline-desc fs-3 text-dark mt-n1">Entrada de {{ order.equipment.item }}
                        </div>
                    </li>
                    {% else %}
                    <li
                        class="timeline-item d-flex justify-content-center align-items-center position-relative overflow-hidden">
                        <div class="timeline-time text-dark flex-shrink-0 text-end">{{ order.date_formatted }}
                        </div>
                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                            <span class="timeline-badge border-2 border border-info flex-shrink-0 my-8"></span>
                            <span class="timeline-badge-border d-block flex-shrink-0"></span>
                        </div>
                        <div class="timeline-desc fs-3 text-dark mt-n1">Retirada de {{ order.equipment.item }}
                        </div>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li>Não há ordens registradas.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-8 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <div class="mb-4 d-flex justify-content-between">
                    <h5 class="card-title fw-semibold">Empréstimos em andamento</h5>
                    <a href="{%url 'dashboard-loans'%}">Ver mais</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-0">Quantidade</h6>
                                </th>
                                <th class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-0">Solicitante</h6>
                                </th>
                                <th class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-0">Equipamento</h6>
                                </th>
                                <th class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-0">Retirada</h6>
                                </th>
                                <th class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-0">Devolução</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for loan in loans %}
                            <tr>
                                <td class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-0">{{ loan.quantity }}</h6>
                                </td>
                                <td class="border-bottom-0 text-center">
                                    <h6 class="fw-semibold mb-1">{{ loan.staff }}</h6>
                                    <span class="fw-normal">{{ loan.staff_sector }}</span>
                                </td>
                                <td class="border-bottom-0 text-center">
                                    <p class="mb-0 fw-normal">{{ loan.equipment_item|default:"N.E" }} - {{ loan.equipment_model|default:"N.E" }}</p>
                                </td>
                                <td class="border-bottom-0 text-center">
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <span class="badge bg-info rounded-3 fw-semibold">{{ loan.retreat_date }}</span>
                                    </div>
                                </td>
                                <td class="border-bottom-0 text-center">
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <span class="badge rounded-3 fw-semibold" style="background-color: #5D87FF;">{{ loan.devolution_date }}</span>
                                    </div>
                                </td>             
                            </tr>
                            {% endfor %}   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="multiCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% if cards %}
            {% for card in cards %}
            {% if forloop.counter0|divisibleby:4 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
                    {% endif %}

                    <div class="col-md-3">
                        <a href="{% if card.link %}{{ card.link }}{% endif %}" target="_blank">
                            <div class="card overflow-hidden rounded-2">
                                <div class="position-relative">
                                    <img src="{{ card.image.url }}" class="card-img-top rounded-0"
                                        alt="{{ card.title }}">
                                </div>
                                <div class="card-body pt-3 p-4">
                                    <h6 class="fw-semibold fs-4">{{ card.title }}</h6>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="fw-semibold fs-2 mb-0">{{ card.subtitle }}</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div> <!-- row -->
            </div> <!-- carousel-item -->
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#multiCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#multiCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-4 my-4 d-flex justify-content-center align-items-center">
        <div class="card-body">
            <canvas id="myChart1" width="200" height="200"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                fetch('{% url "chart-data" %}')
                    .then(response => response.json())
                    .then(data => {
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: data.pie_chart_data.labels,
                                datasets: [{
                                    label: 'Number of Products',
                                    data: data.pie_chart_data.data,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true
                            }
                        });
                    });
            </script>
        </div>
    </div>
    <div class="col-md-4 my-4 d-flex justify-content-center align-items-center">
        <div class="bg-white">
            <div class="card-body">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    fetch('{% url "chart-data" %}')
                        .then(response => response.json())
                        .then(data => {
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: data.bar_chart_data.labels,
                                    datasets: [{
                                        label: 'Orders',
                                        data: data.bar_chart_data.data,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                        });
                </script>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% else %}
{% include 'main/dashboard/staff_index.html' %}
{% endif %}
{% endblock %}